<div class="auth-left">
  <h2 class="auth-header">Регистрация</h2>
  <p class="auth-text">Уже есть аккаунт?</p>
  <%= link_to "Вход", new_session_path(resource_name), class: 'auth-link' %>
</div>
<div class="auth-right">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form'}) do |f| %>

    <div class="form-control">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true,
                        autocomplete: "email",
                        class: 'form-input',
                        required: true
      %>
    </div>

    <div class="form-control">
      <%= f.label :password, 'Пароль', class: 'form-label' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> знаков минимум)</em>
      <% end %><br />
      <%= f.password_field :password,
                           autocomplete: "new-password",
                           class: 'form-input',
                           required: true,
                           minLength: 6
      %>
    </div>

    <div class="form-control">
      <%= f.label :password_confirmation, 'Подтверждение пароля', class: 'form-label' %>
      <%= f.password_field :password_confirmation,
                           autocomplete: "new-password",
                           class: 'form-input',
                           required: true,
                           minLength: 6
      %>
      <p class="form-error" id="confirm-message">
        Пароли не совпадают
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Зарегистрироваться", class: 'form-button', disabled: true, id: 'submitBtn' %>
    </div>

    <%= link_to "Забыли пароль?", new_password_path(resource_name), class: 'form-link' %>
  <% end %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <%= render "devise/shared/notices" %>

</div>

<%= javascript_pack_tag 'devise/registration' %>