<div class="container">
  <%= link_to 'Добавить мероприятие', new_event_path, class: "button brand-color" %>
  <h1 class="title events-title">Мероприятия:</h1>

  <a href="#" id="set-active">
    Активные
  </a>
  <a href="#" id="set-archive">
    Архив
  </a>

  <div id="active">
    <% @active_events.each do |event| %>
      <div class="events-row">
        <div class="fields-name">
          <%= link_to event.name, event %>
        </div>

        <div class="fields-descr">
          <%= event.description %>
        </div>

        <div class="fields-date">
          <%= I18n.l(event.evented_at.to_time, :format => '%e %B %Y') if event.evented_at %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="archive" class="archived">
    <% @archived_events.each do |event| %>
      <div class="events-row">
        <div class="fields-name">
          <%= link_to event.name, event %>
        </div>

        <div class="fields-descr">
          <%= event.description %>
        </div>

        <div class="fields-date">
          <%= I18n.l(event.evented_at.to_time, :format => '%e %B %Y') if event.evented_at %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'events/index-tabs' %>


