<div class="row w-100">
  <div class="card bg-gray1">
    <div class="row w-100 jc-sb">
      <h1 class="title events-title">
        <% if user_signed_in? %>
          <%= link_to events_path, class: 'back-link' do %>
            <i class="fa-regular fa-circle-left"></i>
          <% end %>
        <% end %>
        <%= @event.name %>
        <% if @event.archived? %>
          (архив)
        <% end %>
      </h1>

      <div class="title-rightblock">
        <%= link_to 'Изменить', edit_event_path(@event), class: "title-link" %>

        <% if @owner %>
          <%= link_to 'Удалить', event_path(@event), class: 'title-link delete-link',
                      method: :delete,
                      data: { confirm: 'Вы уверены, что хотите удалить такое мероприятие?' }
          %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="w-50">
    <div class="card">
      <div class="card-header">
        Информация
      </div>
      <div class="card-body">
        <div class="event-reason">
          <p class="event-fieldname">Повод:</p>
          <p class="event-fieldvalue"><%= @event.description %></p>
        </div>
        <div class="event-reason">
          <p class="event-fieldname">Дата:</p>
          <p class="event-fieldvalue">
            <%= I18n.l(@event.evented_at.to_time, :format => '%e %B %Y') if @event.evented_at %>
          </p>
        </div>
        <div class="event-reason">
          <p class="event-fieldname">
            Тип:
          </p>
          <p class="event-fieldvalue">
            <% if @event.isPublic %>
              Открытое мероприятие
            <% else %>
              Закрытое мероприятие
            <% end %>
          </p>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to 'Подвести итоги', event_results_path(@event), class: 'result-link' %>
      </div>
    </div>
  </div>
  <div class="w-50">
    <div class="card">
      <div class="card-header">
        Участники
        <% if user_signed_in? && !@is_member %>
          <%=  link_to 'Участвовать', join_path(@event), class: 'leave-link' %>
        <% end %>
      </div>
      <div class="card-body">
<!--        <div class="join">-->
<!--          <p class="join-title">Пригласить:</p>-->
          <%#= link_to join_url(@event.join_id), "#", class: 'join-link', id: 'join-link' %>

<!--          <div class="join-confirm" id="join-confirm">-->
<!--            Скопировано!-->
<!--          </div>-->
<!--        </div>-->
        <div class="members">
          <% if @members.length == 0 %>
            <p class="add-bot-subheader">
              Пока участников нет
            </p>
          <% end %>
          <ul>
            <% @members.each do |member| %>
              <li class="members-item">
                <%= member.username %>

                <% if member == @event.user %>
                  (Организатор)
                <% else %>
                  <%# if current_user == @event.user %>
                    <%= link_to remove_member_path(@event, member.id),
                                method: :delete, class: 'remove-link' do %>
                    <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <%# end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <%= form_with(model: @bot, url: add_bot_path, html: {class: 'add-bot'}) do |form| %>
          <div class="add-bot-header">
            Добавьте участника-бота
          </div>
          <p class="add-bot-subheader">
            (заглушка, вместо живого человека):
          </p>
          <div class="add-bot-container">
            <%= form.text_field :username, required: true,
                                placeholder: 'Имя бота',
                                class: 'add-bot-input'
            %>

            <%= form.submit 'Добавить', class: 'add-bot-submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render '/products/products', products: @products %>


<%#= javascript_pack_tag 'events/join' %>