<%= link_to events_path, class: 'back-link' do %>
  <i class="far fa-arrow-alt-circle-left"></i> Назад
<% end %>

<div class="title-container with-bottom-border">
  <h1 class="title"><%= @event.name %></h1>
  <div class="title-rightblock">
    <%= link_to 'Изменить', edit_event_path(@event), class: "title-link" %>

    <% if @owner %>
      <%= link_to 'Удалить', event_path(@event), class: 'delete-link',
                  method: :delete,
                  data: { confirm: 'Вы уверены, что хотите удалить такое мероприятие?' }
      %>
    <% end %>

  </div>
</div>

<div class="event">
  <div class="event-header">
    <div class="event-reason">
      <p class="event-fieldname">Повод:</p>
      <p class="event-fieldvalue"><%= @event.description %></p>
    </div>
    <%= link_to 'Подвести итоги', event_results_path(@event), class: 'result-link' %>
    <div class="event-fieldvalue">
      <%= I18n.l(@event.evented_at.to_time, :format => '%e %B %Y') if @event.evented_at %>
    </div>
  </div>
  <div class="event-body">
    <div class="event-left">
      <p class="event-fieldname">Продукты</p>
      <%= form_with(model: @product, url: products_path, html: {class: 'products-form'}, local: false) do |form| %>
        <%= form.text_field :name, required: true,
                            placeholder: 'Название',
                            class: 'products-form-input products-form_name'
        %>

        <%= form.number_field :price, min: 0, max: 100000,
                            placeholder: 'Стоимость',
                            class: 'products-form-input products-form_price'
        %>

        <%= form.collection_select :buyer_id, @members, :id, :username,
                                   {prompt: 'Покупатель'},
                                   {class: 'products-form-input products-form_buyer'}
        %>

        <%= form.number_field :total, min: 0, max: 100000,
                              placeholder: 'Количество*',
                              class: 'products-form-input products-form_price'
        %>

        <%= form.hidden_field :event_id, value: @event.id %>

        <%= form.submit "Добавить", class: 'products-form-submit' %>
      <% end %>

      <p class="products-form_comment">
        * Количество продукта надо указывать, если важно разделить его не поровну между всеми. Пример: <br>
        - Вы купили 10 бутылок пива. <br>
        - Иван выпил 2 бутылку<br>
        - Денис не стал пить пиво<br>
        - Саша выпил 8 штук. <br>
        В этом случае указывает, что было куплено 10 бутылок и затем каждый отмечает у себя то количество,
        которое на самом деле выпил.
      </p>

      <div id="table">
        <%= render '/products/products', products: @products %>
      </div>

    </div>
    <div class="event-right">
      <div class="event-right_header">
        <p class="event-fieldname">Участники</p>

        <% unless @owner %>
        <%=  link_to 'Покинуть', leave_path(@event), class: 'leave-link',
                      data: { confirm: 'Вы убеверны, что не хотите участвовать в этом веселье?'}  %>
        <% end %>

      </div>


      <div class="join">
        <p class="join-title">Пригласить:</p>
        <%= link_to join_url(@event.join_id), "#", class: 'join-link', id: 'join-link' %>

        <div class="join-confirm" id="join-confirm">
          Скопировано!
        </div>

      </div>
      <div class="members">
        <ul>
          <% @members.each do |member| %>
            <li class="members-item">
              <%= member.username %>

              <% if member == @event.user %>
                (Организатор)
              <% end %>

            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>





<%= javascript_pack_tag 'events/join' %>