<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Разделялка</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'users-gear-solid.svg', type: 'image/svg+xml', sizes: 'any' %>
</head>

<body class="auth">
  <%= yield %>
</body>
</html>
